body{
    background-color: white;
}

#GridContainer {
    display: grid;
    grid-template-areas: 
    'header header header'
    'left main main'
    ;
}

#item1 {
    grid-area: header;
    width: 100%;
    height: 33vh;
    background-color: rgb(210, 241, 243);
}

#item2 {
    grid-area: main;
    width: 100%;
    height: 66vh;
    background-color: rgb(192, 206, 214);
}

#item3 {
    grid-area: left;
    width: 100%;
    height: 66vh;
    background-color: rgb(227, 233, 236);
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*responsive screen*/
@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(159, 209, 241);
    }
    #GridContainer {
        display: grid;
        grid-template-areas: 
        'header'
        'left'
        'main'
        ;
    }
}

@keyframes  blink {
    from {color: rgb(0, 0, 0);}
    to {color: rgb(255, 255, 255);}    
}